body {
	    margin-top:100px;
	    margin-left:auto;
	    margin-right:auto;
	    background-size:cover;
}
img.circle {
		width:130px;
		height:80px;
		border-radius: 45px 40px;
}
img.puzzle {
		width: 120px;
		height: 90px;
}
.empty-cell {
		width:120px;
		height:90px;
		padding: 0 !important;
}
.bordered {
		border: 1px solid black;
}
.draggable {
	    cursor: move;
}
.el{
	    margin-top: 20px;
}
.side_results_wrapper {
           z-index: 999999;
           position:fixed;
	   width: 310px;
           right: -270px; 		
           top: 300px;
}
.side_tab {
           float: left;
	   height: 200px;
           width: 40px;
           background-color: blue;
           border-top-left-radius: 30px;
           border-bottom-left-radius: 30px;
}
.side_results {
           float: left;
           width: 270px;
}
.vertical-text {
	   transform: rotate(270deg);
	   transform-origin: left top 100px;
           float: left;
	   margin-top: 140px;
           font-size: 18px;
           color: white;
}
#game {
	   display:none;
}
.error {
	border: 1px solid red;
}